{% extends 'layout/base.html' %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
{% load static %}
<div class="container py-5">
  <h3>
    <p>
      Привет, меня зовут Роман
    </p>
  </h3>
  <div class="row">
    <aside class="col-12 col-md-3">
      <p><img src="{% static 'posts/img/my_photo.jpg' %}" alt="Место для фото"></p>
      <style>
        a { 
        text-decoration: none
        } 
      </style>
      <h6>Здесь вы можете посмотреть мои работы и изучить моё резюме</h6>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <a href="https://github.com/RomaNechai" target="_blank">Аккаунт в Github</a>
        </li>
        <li class="list-group-item">
          <a href="https://www.linkedin.com/in/роман-нечай-007310267/" target="_blank">Аккаунт на Linkedin</a>
        </li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      <div align="justify">
        <p>
          Я <s>начинающий</s> <strong>beckend-разработчик</strong>. Изучаю язык программирования Python на курсе IT-academy.
        </p>
        <p>
          Я родился в городе-герое Минске, где и проживаю по сей день. 
          Пойти учиться мне посоветовал мой друг,
          который, кстати, работает в IT.
          В обучении меня поддерживают жена и родители.  Во время учёбы дома меня вдохновляют соседи сверху - когда их нету дома я могу спокойно 
          позаниматься в тишине &#x1f605; В действительности же меня вдохновляют люди, конкретно мои друзья, которые работают в IT-сфере
          и делятся со мной впечатлениями о работе, коллективе и возможностях. 
        </p>
        <p> Впервые я заитересовался IT в 2023 году. Прошел ознакомительную часть с IT профессиями одного бесплатного ресурса, изучил каждую и определился, что хочу стать разработчиком. Python выбрал, потому что это доступный для изучения язык программирования,
          особенно для тех, кто только делает первые шаги в изучении программирования. Пошел я конечно ой как не сразу: штаны порваны, коленки
          сбиты, зато с улыбка на лице от первых уверенных шагов и маленьких побед. На учёбе у меня задачи, которые занимали практически всё мое своболное от работы время, а вот после учёбы планирую готовится к собеседованиям, разумеется успешное их прохождение и трудоустройство&#x1f60e;
        </p>
      </div>
    </article>
  </div>
</div>
{% endblock %}