{% extends 'layout/base.html' %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class='container py-5'>
  <div class="row">
    <h1>Вот что я умею</h1>
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Python 3.9
        </li>
        <li class="list-group-item">
          Django 4.2
        </li>
        <li class="list-group-item">
          django-debug-toolbar 5.0.1
        </li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      <p align="justify">
        Для оформления проекта был загружен файл <i>bootstrap.min.css</i> 
        (файл с готовыми CSS-стилями), загружены статические файлы. 
        Для вывода информации на страницу и работы с базами данных 
        я изучил основы <b>SQLite</b>, <b>Django ORM</b> и <b>модели БД</b>. Я научился создавать
        проекта и приложения к нему, использовать классы Django "из коробки", а 
        также переопределять установленные классы и их методы. Научился 
        выводить переменные в шаблоны django и применять к ним фильтры. Работа выполнена
        в <b>IDE PyCharm</b>.
      </p>
    </article>
  </div>
</div>
{% endblock %}