{% extends 'layout/base.html' %}
{% block title %}{{ post.text|truncatechars:30 }}{% endblock %}
{% block content%}
<div class="row">
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Дата публикации: {{ post.pub_date|date:"d E Y" }} 
      </li>
      {% if post.group %}  
        <li class="list-group-item">
          Группа: {{ post.group.title }}
          <p>
            <a href="{% url 'posts:group_list' post.group.slug %}">все записи этой группы</a>
          </a>
          </p>
        </li>
      {% endif %}
      <li class="list-group-item">
        Автор: {{ post.author.get_full_name }}
      </li>
      <li class="list-group-item">
        <a href="{% url 'posts:profile' post.author.username %}">
          все посты пользователя
        </a>
      </li>
      <li class="list-group-item">
        <a href="{% url 'posts:post_edit' post.pk %}">
          редактировать пост
        </a>
      </li>
      <li class="list-group-item">
        <a href="{% url 'posts:post_delete' post.pk %}">
          удалить пост
        </a>
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>
     {{ post.text }}
    </p>
  </article>
</div>
{% endblock %}